@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");

body {
  margin-left: 10rem;
  margin-right: 10rem;
}

header {
  text-align: center;
}

body {
  font-family: lexend;
  text-align: left;
}

ul {
  display: table;
  margin: 0 auto;
  padding: 0;
}

img {
  width: 28rem;
  display: block;
  border: 0.2rem solid black;
}

li {
  display: table-cell;
  text-align: center;
  padding: 2rem;
}
